@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    color:#ffffff;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 24px;
    font-weight: 700;
}
p{
    font-size: 1rem;
}
#hero {
	background-image: url(./images/bg-intro-desktop.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: hsl(0deg 78% 54% / 76%);
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: center;
	display: flex;
	flex-direction: row;
}
#main-content{
    display: flex;
}
.wording-content{
    justify-content: center;
    padding: 40px;
    display: flex;
    width: 50%;
    flex-direction: column;
}
.form-content{
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.form-content button:nth-child(1){
    height: 56px;
    background-color: #5D54A3;
    border: #5D54A3;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 16px;
    color: white;
    font-weight: 600;

}
.register{
    padding: 50px;
    background-color: white;
    border-radius: 8px;
}
.register input{
    width: 100%;
    height: 56px;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 2px solid hsl(246, 25%, 77%);
    font-size: 14px;
    font-weight: 600;
    color:#444348;
    line-height: 24px;
}
.register input:nth-child(1),.register input:nth-child(2){
    text-transform: capitalize;
}
.register input::placeholder{
    color:hsl(246, 25%, 77%);
}

.register input:focus-visible{
    border: 2px solid #5D54A3 ;
    outline: none;
    caret-color:#5D54A3 ;

}
.register .tc{
    color: hsl(246, 25%, 77%);
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}
.register .tc span{
    font-weight: 600;
	color: hsl(0deg 78% 54% / 76%);

}
.register button{
    width: 100%;
    height: 56px;
    background-color: #37CB8A;
    border: 1px solid #37CB8A;
    border-radius: 8px;
    padding: 10px 0;
    margin-bottom: 16px;
    color: white;
    font-weight: 600;

}