@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    color:#ffffff;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 24px;
    font-weight: 700;
}
p{
    font-size: 1rem;
}
#hero {
	background-image: url(./images/bg-intro-desktop.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: hsl(0deg 78% 54% / 76%);
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: center;
	display: flex;
	flex-direction: row;
}
#main-content{
    display: flex;
}
.wording-content{
    justify-content: center;
    padding: 40px;
    display: flex;
    width: 50%;
    flex-direction: column;
}
.form-content{
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.form-content button:nth-child(1){
    height: 56px;
    background-color: #5D54A3;
    border: #5D54A3;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 16px;
    color: white;
    font-weight: 500;
}
.form-content button:nth-child(1) strong{ 
    font-weight: 700;
}
.register{
    padding: 50px;
    background-color: white;
    border-radius: 8px;
}
.register .form-group{
    margin-bottom: 8px;
}
.register .form-group input{
    width: 100%;
    height: 56px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid hsl(246, 25%, 77%);
    font-size: 14px;
    font-weight: 600;
    color:#444348;
    line-height: 24px;
}
.register .form-group input:nth-child(1),.register input:nth-child(2){
    text-transform: capitalize;
}
.register .form-group input::placeholder{
    color:hsl(246, 25%, 77%);
}

.register .form-group input:focus-visible{
    border: 1px solid #5D54A3 ;
    outline: none;
    caret-color:#5D54A3 ;

}
.register>.form-group input[type="text"]:valid:not(:placeholder-shown),.register>input[type="email"]:valid:not(:placeholder-shown),.register>input[type="password"]:valid:not(:placeholder-shown){
    background: url('https://api.iconify.design/akar-icons/circle-check-fill.svg?color=rgba(22%2C%20194%2C%20118%2C%200.7098039215686275)')  no-repeat center right / contain;
    background-size: 25px;
    background-position: 95%;
}
.register>.form-group input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
.register>.form-group input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
.register>.form-group input[type="password"]:invalid:not(:focus):not(:placeholder-shown){
    background: url('./images/icon-error.svg') no-repeat center right/ contain;
    background-size: 20px;
    background-position: 95%;
    border:1px solid hsl(0deg 78% 54% / 76%) ;
    border-radius: 8px;
    color: hsl(0deg 78% 54% / 76%);
    font-weight: 400;
}
.register>.form-group input[type="text"]:invalid:not(:focus):not(:placeholder-shown)~ .requirements,
.register>.form-group input[type="email"]:invalid:not(:focus):not(:placeholder-shown)~ .requirements,
.register>.form-group input[type="password"]:invalid:not(:focus):not(:placeholder-shown)~ .requirements{
    color: hsl(0deg 78% 54% / 76%);
    font-weight: 400;
    max-height: 20px;
}
.register .form-group .requirements{
    text-align: right;
    padding: 0 5px;
    font-size: 11px;
    font-style: italic;
    transition: 0.28s;
    color: hsl(0deg 78% 54% / 76%);
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
}

.register .tc{
    color: hsl(246, 25%, 77%);
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}
.register .tc span{
    font-weight: 600;
	color: hsl(0deg 78% 54% / 76%);

}
.register button{
    width: 100%;
    height: 56px;
    background-color: hsl(154, 59%, 51%);
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 8px;
    padding: 10px 0;
    margin-bottom: 16px;
    color: white;
    font-weight: 600;
}
.form-content button:nth-child(1) {
    height: auto;
    padding: 20px;
    margin-bottom: 16px;
    color: white;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {

    #hero {
        background-image: url(./images/bg-intro-mobile.png);
    }
    #hero .hero {
        padding: 0 20px;
    }
    #main-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;

    }
    .wording-content {
        justify-content: center;
        padding: 100px 10px 0 10px;
        text-align: center;
        flex-direction: column;
        width:100%;
    }
    .form-content {
        width: 100%;
        padding: 70px 10px 0 10px;
    }
    .register {
        padding: 20px;
    }


}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    #hero {
        background-image: url(./images/bg-intro-mobile.png);
    }
    #hero .hero {
        padding: 0 20px;
    }
    #main-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;

    }
    .wording-content {
        justify-content: center;
        padding: 100px 10px 0 10px;
        text-align: center;
        flex-direction: column;
        width:100%;
    }
    .form-content {
        width: 100%;
        padding: 70px 10px 0 10px;
    }
    .register {
        padding: 20px;
    }



}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    #hero {
        background-image: url(./images/bg-intro-desktop.png);
    }
    #hero .hero {
        padding: 0 20px;
        height: auto;
        justify-content: unset;
        align-items: unset;
    }
    #main-content {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        margin-bottom: 100px;

    }
    .wording-content {
        padding: 10px;
        text-align: left;
        flex-direction: column;
        width:50%;
    }
    .form-content {
        width: 50%;
        padding: 70px 10px 0 10px;
    }
    .register {
        padding: 20px;
    }


    
}


/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
    #hero {
        background-image: url(./images/bg-intro-desktop.png);
        background-size: cover;
        background-position: top center;
        position: relative;
        z-index: 1;
    }
    #hero::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: hsl(0deg 78% 54% / 76%);
        opacity: 0.7;
        z-index: -1;
    }
    #hero .hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    #main-content{
        display: flex;
    }
    .wording-content{
        justify-content: center;
        padding: 40px;
        display: flex;
        width: 50%;
        flex-direction: column;
    }
    .form-content{
        width: 50%;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    .form-content button:nth-child(1){
        height: 56px;
        background-color: #5D54A3;
        border: #5D54A3;
        border-radius: 5px;
        padding: 10px 0;
        margin-bottom: 16px;
        color: white;
        font-weight: 500;
        box-shadow:0 8px 2px -2px #75727ca6;
    }
    .form-content button:nth-child(1):hover,.form-content button:nth-child(1):active{
        background-color: #7669dd;
        border: #7669dd;
    }
    .form-content button:nth-child(1) strong{ 
        font-weight: 700;
    }
    .register{
        padding: 50px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 8px 2px -2px #75727ca6;
    }
    .register .form-group{
        margin-bottom: 8px;
    }
    .register .form-group input{
        width: 100%;
        height: 56px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid hsl(246, 25%, 77%);
        font-size: 14px;
        font-weight: 600;
        color:#444348;
        line-height: 24px;
    }
    .register .form-group input[type="email"]{
        text-transform: lowercase;
    }
    .register .form-group input:nth-child(1),.register .form-group input:nth-child(2){
        text-transform: capitalize;
    }
    .register .form-group input::placeholder{
        color:hsl(246, 25%, 77%);
    }
    
    .register .form-group input:focus-visible{
        border: 1px solid #5D54A3 ;
        outline: none;
        caret-color:#5D54A3 ;
    
    }
    .register>.form-group input[type="text"]:valid:not(:placeholder-shown),
    .register>.form-group input[type="email"]:valid:not(:placeholder-shown),
    .register>.form-group input[type="password"]:valid:not(:placeholder-shown){
        background: url('https://api.iconify.design/akar-icons/circle-check-fill.svg?color=rgba(22%2C%20194%2C%20118%2C%200.7098039215686275)')  no-repeat center right / contain;
        background-size: 25px;
        background-position: 95%;
    }
    .register>.form-group input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
    .register>.form-group input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
    .register>.form-group input[type="password"]:invalid:not(:focus):not(:placeholder-shown){
        background: url('./images/icon-error.svg') no-repeat center right/ contain;
        background-size: 20px;
        background-position: 95%;
        border:1px solid hsl(0deg 78% 54% / 76%) ;
        border-radius: 8px;
        color: hsl(0deg 78% 54% / 76%);
        font-weight: 400;
    }
    .register>.form-group input[type="text"]:invalid:not(:focus):not(:placeholder-shown)~ .requirements,
    .register>.form-group input[type="email"]:invalid:not(:focus):not(:placeholder-shown)~ .requirements,
    .register>.form-group input[type="password"]:invalid:not(:focus):not(:placeholder-shown)~ .requirements{
        color: hsl(0deg 78% 54% / 76%);
        font-weight: 400;
        max-height: 20px;
    }
    .register .form-group .requirements{
        text-align: right;
        padding: 0 5px;
        font-size: 11px;
        font-style: italic;
        transition: 0.28s;
        color: hsl(0deg 78% 54% / 76%);
        font-weight: 400;
        max-height: 0;
        overflow: hidden;
    }
    
    .register .tc{
        color: hsl(246, 25%, 77%);
        font-size: 11px;
        font-weight: 500;
        text-align: center;
    }
    .register .tc a{
        text-decoration: none;
    }
    .register .tc span{
        font-weight: 600;
        color: hsl(0deg 78% 54% / 76%);
    
    }
    .register button{
        box-shadow: 0 8px 2px -2px #c5c0d4a6;
        width: 100%;
        height: 56px;
        background-color: hsl(154, 59%, 51%);
        border: 1px solid hsl(154, 59%, 51%);
        border-radius: 8px;
        padding: 10px 0;
        margin-bottom: 16px;
        color: white;
        font-weight: 600;
    }
    .register button:hover,.register button:active{
        background-color: hsl(154deg 68% 66%);
        border: 1px solid hsl(154deg 68% 66%);;
        cursor: pointer;
    }
    .form-content button:nth-child(1) {
        height: auto;
        padding: 20px;
        margin-bottom: 16px;
        color: white;
    }


}